main
{
    display: flex;
    flex-wrap: wrap;
    background-color: #dddddd;
    width: 1192px;
    height: auto;
    margin: 0 auto;
}
@font-face {
    font-family:"Arimo Bold";
    src: url("Arimo/ArimoBold.ttf") ,format("opentype");
}  
@font-face {
    font-family:"Arimo";
    src: url("Arimo/ArimoRegular.ttf") ,format("opentype");
} 
/* Перший стовпець */
.item1
{
    font-size: 18px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    line-height: 1.556;
    background-color: #fafafa;;
    width: 310px;
    height: 156px;
    text-transform: uppercase; 
    text-align: center;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.27);  
}
.choose
{
    padding: 40px 0px 56px;  
}
.plan
{
    font-size: 30px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
}
.item2, .item3, .item4, .item5, .item6, .item7
{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 310px;
    height: 69px;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.27);
}
.item3, .item5, .item7
{
    background-color:#e3e3e3;
}
.item2, .item4, .item6
{
    background-color:#f2f2f2; 
}
.text
{
    font-size: 16px;
    font-family: "Arimo";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 1.75;
}
.fa-archive, .fa-cloud-upload, .fa-envelope, .fa-life-ring, .fa-cube, .fa-users
{
    font-size: 24px;
    font-family: "FontAwesome";
    color: rgb(132, 132, 132);
    text-transform: uppercase;
    line-height: 1.167;
    margin-right: 10px;  
}
.item8
{
    background-color: rgb(221, 221, 221);
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.knopka
{
    border-radius: 5px;
    background-color: rgb(72, 72, 72);
    width: 192px;
    height: 49px;
    display: flex;
    transition: 0.4s ease-out; 
}
.contact
{
    text-decoration: none;
    font-size: 16px;
    font-family: "Arimo Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 192px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.knopka:hover
{
    background-color: rgb(117, 117, 117);
    transition: 0.3s ease-in;
}
.knopka:active
{
    background-color: rgb(190, 189, 189);  
}
.plans
{
    display: flex;
}

/* 2 Стовпець */
.item33, .item44, .item55, .item66, .item77, .item88
{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 277px;
    height: 69px;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.27);
}
.item44, .item66, .item88
{
    background-color:#e3e3e3;
}
.item33, .item55, .item77
{
    background-color:#f2f2f2; 
}
.standard1
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.167; 
    background-color: rgb(137, 195, 49);
    width: 277px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;       
} 
.text_
{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 277px;
    height: 69px;
    font-size: 16px;
    font-family: "Arimo";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 1.75;
     
}
.first
{
    display: flex;
}
.price
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 86px;
    background-color:#fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dol
{
    font-size: 60px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);  
    text-transform: uppercase;
    line-height: 0.83;
}
.cent
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 1.08;
    text-align: left;
}
.per
{
    font-size: 18px;
    font-family: "Arimo";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    text-align: left; 
}
/* 3 Стовпець  */
.ultimate1
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.167;
    background-color: #f04a56;
    width: 277px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;        
} 
.item_2, .item_3, .item_4, .item_5, .item_6, .item_7, .item_8
{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 277px;
    height: 69px;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.27);
}
.item_4, .item_6, .item_8
{
    background-color:#e3e3e3;
}
.item_3, .item_5, .item_7
{
    background-color:#f2f2f2; 
}
.item_2
{
    width: 277px;
    height: 86px;
    background-color:#fafafa;
}
/* 4 Стовпець  */
.premium1
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.167;
    background-color: #20807c;
    width: 277px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;        
} 
.item_22, .item_33, .item_44, .item_55, .item_66, .item_77, .item_88
{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 277px;
    height: 69px;
    box-shadow: 2px 9px 5px 0px rgba(0, 0, 0, 0.27);
}
.item_44, .item_66, .item_88
{
    background-color:#e3e3e3;
}
.item_33, .item_55, .item_77
{
    background-color:#f2f2f2; 
}
.item_22
{
    width: 277px;
    height: 86px;
    background-color:#fafafa;
}
._price_
{
    display: flex;
    
}