body
{
    background-color: #3a4965;
}
main
{
    display: flex;
    flex-wrap: wrap;
    background-color: #dddddd;
    width: 1192px;
    height: 736px;
    margin: 0 auto;
    
}
@font-face {
    font-family:"Arimo Bold";
    src: url("Arimo/ArimoBold.ttf") ,format("opentype");
}  
@font-face {
    font-family:"Arimo";
    src: url("Arimo/ArimoRegular.ttf") ,format("opentype");
} 
/* Перший стовпець */
.item1
{
    font-size: 18px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    line-height: 1.556;
    text-align: center;
    background-color: #fafafa;;
    width: 310px;
    height: 156px;     
}
.plan
{
    font-size: 30px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
}
.choose
{
     padding: 40px 0px 56px;
}
 .item2, .item3, .item4, .item5, .item6, .item7
{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 310px;
    height: 69px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.item3, .item5, .item7
{
    background-color:#e3e3e3;
}
.item2, .item4, .item6
{
    background-color:#f2f2f2; 
}
.text
{
    font-size: 16px;
    font-family: "Arimo";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 1.75;
}
.fa-archive, .fa-cloud-upload, .fa-envelope, .fa-life-ring, .fa-cube, .fa-users
{
    font-size: 24px;
    font-family: "FontAwesome";
    color: rgb(132, 132, 132);
    text-transform: uppercase;
    line-height: 1.167;
    margin-right: 10px;  
}
.item8
{
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 310px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* Другий стовпець */
.item11
{
    background-color: rgb(137, 195, 49);
    width: 277px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.standard
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.167;       
}  
.item22
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 86px;
    background-color:#fafafa;
}
.dol
{
    font-size: 60px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);  
    text-transform: uppercase;
    line-height: 0.83;
}
.cent
{
    font-size: 24px;
    font-family: "Arimo Bold";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    line-height: 1.08;
    text-align: left;
}
.per
{
    font-size: 18px;
    font-family: "Arimo";
    color: rgb(72, 72, 72);
    text-transform: uppercase;
    text-align: left; 
}

  


  



