.container
{
    font-family: sans-serif;
}
input {
    padding: 5px;
    border: 2px solid #ccc;
}

input:focus {
    outline: none;
    border-color: green;
}
.price-display
{
    margin-top: 10px;
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949494;
    font-family: sans-serif;
}
.price-display span
{
    margin-left: 5px;
}
.price-display button {
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    background-color: white;
    margin-right: 5px;
}
.border
{
    border: 1px solid #ccc;
    border-radius: 10px;
}
