body
{
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    font-family: "Roboto";
    margin: 25% 0px 0px 0px; 
    position: relative;
}
.wrapper
{
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
}
.scroll-text
{
    color: rgb(255, 217, 0);
    font-size: 55px;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear forwards infinite;
}
h1,h2
{
    text-align: center;
}
@keyframes scroll
{
    from {top: 0; transform: translateZ(0) rotateX(15deg);}
    to { top: -2000px; transform: translateZ(-450px) rotateX(15deg);}
}

