body
{
    background-image: url('background.png');
    background-size: 1366px;
    height: 768px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
header
{
    width: 1366px;
    max-width: 100%;
    margin: 0 auto;
}
.logo
{
    padding-top:  49px;
    padding-left: 155px;
    
}
br
{
    height: 10px;
}
.logo a
{
    height: 44px;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 29px;
    font-weight: bold;
    color: white;
    line-height: 0.760;
}
.Holidays
{
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
}
.logo img
{
    float: left;
}


/* .HOLIDAYS {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 214px;
    top: 75.997px;
    z-index: 41;
  }
  .MILAN {
    font-size: 29px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.724;
    text-align: left;
    position: absolute;
    left: 213px;
    top: 49.502px;
    z-index: 40;
  }
   */
   