body
{
    background-image: url('background.png');
    background-size: 1366px;
    height: 768px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
header
{
    width: 1366px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(255, 0, 0);
    height: auto;
    
}
.logo
{
    margin-top: 49px;
    margin-left: 155px;
    
}
.logo img
{
    float: left;
}
.logo p
{
    margin-left: 12px;
    height: 44px;
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 29px;
    font-weight: bold;
    color: white;
    line-height: 0.750;
}
.Holidays
{
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
}
.email-number 
{   
    text-align: justify;
    text-align-last: right;
    margin-right: 147px;
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.4;   
}
.logo a:hover p,
.logo a:hover .Holidays
{
    color: #f26522;
}
.logo a:hover img {
     content: url('logo1.png'); 
}
/* .HOLIDAYS {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 214px;
    top: 75.997px;
    z-index: 41;
  }
  .MILAN {
    font-size: 29px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.724;
    text-align: left;
    position: absolute;
    left: 213px;
    top: 49.502px;
    z-index: 40;
  }
   */
   