body
{
    background-image: url('background.png');
    background-size: 1366px;
    height: 768px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
header
{
    width: 1366px;
    max-width: 100%;
    margin: 0 auto;
}
.logo
{
    padding-top:  49px;
    padding-left: 155px;
}
.logo p
{
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    font-family: sans-serif;
    line-height: 0.724;
    font-size: 29px;
    font-weight: bold;
    color: white;
}
.Holidays
{
    line-height: 1.167;
    font-size: 18px;   
}
.logo img
{
    float: left;
}


/* .HOLIDAYS {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 214px;
    top: 75.997px;
    z-index: 41;
  }
  .MILAN {
    font-size: 29px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.724;
    text-align: left;
    position: absolute;
    left: 213px;
    top: 49.502px;
    z-index: 40;
  }
   */
   .Header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
    z-index: 44;
  }
  .Logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
    z-index: 43;
  }
  .HOLIDAYS {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 214px;
    top: 75.997px;
    z-index: 41;
  }
  .MILAN {
    font-size: 29px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.724;
    text-align: left;
    position: absolute;
    left: 213px;
    top: 49.502px;
    z-index: 40;
  }
  ._39_338_709_0880 {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 1047px;
    top: 96.954px;
    z-index: 38;
  }
  .tours_milanoholidays_com {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.167;
    text-align: left;
    position: absolute;
    left: 976px;
    top: 74.954px;
    z-index: 37;
  }
  