
header
{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
main
{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    height: auto;
}
h1
{
    margin-top: 30px;
    margin-bottom: 40px;
}

h1 a
{
    text-align: left;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: black;
}
.color1
{
    color:#4bcaff;
}
.topmenu
{
    overflow: hidden;
    margin-top: 10px;
}
.topmenu ul
{
    text-align: center;
    background-color: #35444f;
    margin: 0 auto;
}
.topmenu li
{
    display:inline-block;
    padding: 20px;
} 
.topmenu a 
{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: white;
}  
.topmenu li:hover
{
    background-color: #222f3a;
    cursor: pointer;
    outline: 1px solid #818181;
}   

.leftmenu ul
{
    text-align: left;
    margin: 0 auto;
}
.leftmenu a
{
    display: flex;
    text-decoration: none;
    font-size: 24px;
    color: rgb(72, 88, 99);
    font-family: "Roboto";
    transition: transform 0.5s ease-in-out;
}
.leftmenu  li
{ 
    padding: 25px;      
}
 .leftmenu
{
    margin-top: 35px;
    width: fit-content;
    border: 1px solid black;
    text-align: left;
    height: fit-content;
    
}
.leftmenu li:hover
{
    background-color: #dbdbdb;
}
.leftmenu a:hover
{
  transform: translateX(18px);
  transition: transform 0.5s ease;
}
.img-text
{
    width: 1000px;
    margin-left: auto;
    align-items: center;
}
.img-container
{
    border: 1px solid black;
    margin-top: 35px;
    width: auto;
    overflow: hidden;
}
img
{
    width: 100%;
    transition: transform 0.5s ease-in-out;
}  
img:hover 
{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
.text
{
    margin: 0 auto;
    margin-top: 35px;
    text-align: left;
    width: 93%;
}
.text p
{
    margin: 0px 0px 25px 0px;
    font-family: "Roboto";
    color: rgb(44, 44, 44);
    font-size: 18px;
}

footer
{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
.belowmenu ul
{
    text-align: left;
    background-color: #b4b7ba;
    margin: 0 auto;
}
.belowmenu li
{
    display: inline-block;
    padding: 20px;      
}
.belowmenu a
{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    color:#0c1927;
}
.belowmenu a:hover
{
    color: #3181a6;
    border-bottom: 3px #3181a6 solid;
}
.copy
{
    float: right;
    text-align: center;
    padding: 25px;
    font-size: 24px;
    font-family: "Roboto";
}

