
header
{
    width: 1280px;
    margin: 0 auto;
}
a.golova 
{
    text-align: left;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: black;
}
nav
{
    overflow: hidden;
    margin-top: 10px;
}
nav ul
{
    text-align: center;
    background-color: #35444f;
    margin: 0 auto;
    padding: 0px;
    
}
nav li
{
    display:inline-block;
    padding: 20px;
} 
nav a 
{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: white;
}  
nav li:hover
{
    background-color: #222f3a;
    cursor: pointer;
    outline: 1px solid #818181;
}   

  