
header
{
    width: 1280px;
    margin: 0 auto;
}
main
{
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
a.golova 
{
    text-align: left;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: black;
}
.color1
{
    color:#4bcaff;
}
.topmenu
{
    overflow: hidden;
    margin-top: 10px;
}
.topmenu ul
{
    text-align: center;
    background-color: #35444f;
    margin: 0 auto;
}
.topmenu li
{
    display:inline-block;
    padding: 20px;
} 
.topmenu a 
{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: white;
}  
.topmenu li:hover
{
    background-color: #222f3a;
    cursor: pointer;
    outline: 1px solid #818181;
}   
.leftmenu ul
{
    text-align: left;
    margin: 0 auto;
}
.leftmenu a
{
  text-decoration: none;
  font-size: 24px;
  color: rgb(72, 88, 99);
  font-family: "Roboto";
}
.leftmenu  li
{ 
 padding: 25px;      
}
 .leftmenu
{
  margin-top: 35px;
  width: auto;
  border: 1px solid black;
  text-align: left;
}
.leftmenu li:hover
{
    background-color: #dbdbdb;
}
