body
{  
    width: 1366px;
    max-width: 100%;
    background-image: url('background.png');
    background-size: 1366px;
    height: 768px;
    background-position: center;
    background-repeat: no-repeat;
   
}    
header
{
    width: 1366px;
    margin: 0 auto;
}
.logo
{
    width: 46px;
    height: 44px;
}

